*{
    margin: 0;
    padding: 0;
}
body,
button,
input{
    font: 12px Arial;
}
li{
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;/*去掉a标签下划线*/
}
input,
button{
    border: none;
    outline: none;
}

/*-----初始化样式--------*/

body{
    background-color: #faf8ff;
}
.w{
    width: 1190px;
    margin: 0 auto;
}
.clearfix{
    *zoom:1;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
/*顶部栏*/
.top-nav{
    background-color: #b5b6b7;
    padding: 10px 0;
    font-size: 12px;
}
.top-nav .login{
    float: left;
}
.top-nav .login .h{
    color: red;
    margin-right: 10px;
}

.top-nav .nav-list li{
    display: inline-block;
    margin-left: 10px;
}
.top-nav .nav-list{
    float: right;
}
/*搜索框*/
.searchwrap .w{
    position: relative;
}
.logo{
    position: absolute;
    top:33px;
    left:15px;
    width: 150px;
    height: 56px;
    line-height: 56px;
    font-size: 40px;
    color: crimson;
    font-weight: bold;
    text-align: center;
}
.search-box{
    padding: 40px 0 40px 300px;
}
.search-box .searchInput{
    float:left;
    width: 530px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    font-size: 15px;
}
.search-box .searchbutton{
    width: 50px;
    height: 42px;
    background-color: crimson;
    color: #faf8ff;
}
.search-suggest{
    display: none;
    position: absolute;
    width: 550px;
    border: 1px solid #dddddd;
    background-color: #ffff;
    z-index: 1000;/*z-index值较大的元素将叠加在z-index值较小的元素之上。对于未指定此属性的对象都默认为0*/

}
ul.search-suggest li {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding: 5px;
}
/*商品分类*/
.menu{
    padding-bottom: 30px;
}
.aside-nav{
    float: left;
    width: 200px;
    height: 500px;
    box-shadow: 2px 6px 9px rgba(0,0,0,.2);
}
.list-item .item-href{
    display: block;
    margin: 0 20px;
    height: 50px;
    line-height: 50px;
    color: #333333;
    border-bottom: 1px dotted #dddddd;
    box-sizing: border-box;
}
.item-href：last-child .item-href{
    border:none;
}
.list-item .iconfont{
    float: left;
    margin-right:2px ;
}
.nav-list{
    position: relative;
}
.list-item:hover,
.list-item:hover .item-href{
    background: crimson;
    color:#ffff;
}
/*二级分类*/
.nav-list .item-menu{
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    width: 900px;
    min-height: 500px;
    background-color: #ffff;
    box-shadow: 2px 2px 9px rgba(0,0,0,.2);
    z-index: 999;
}
.list-item:hover .item-menu{
    display: block;
}
.subcate{
    float: left;
    width: 610px;
    padding: 30px 20px 20px;
}
.subcate .subcate_item{
    position: relative;
    padding-left: 80px;
}
.subcate .subcate_item .subcate_title{
    position: absolute;
    left: 0;
    top:6px;
    width: 70px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight:  700;
}
.subcate_title .subcate_title_arrow{
    margin-left: 5px ;
}
.subcate .subcate_con{
    padding:5px 0;
}
.subcate .subcate_con .subcate_con_lk{
    float:left;
    height: 16px;
    line-height: 16px;
    border-left: 1px solid #dddddd;
    padding:0 10px;
    margin:3px;
}
.subcate .subcate_link:hover,
.subcate .subcate_con .subcate_con_lk:hover{
    color: crimson;
}
/*二级分类猜你喜欢*/
.guessLike{
    float: left;
    width: 250px;
    padding-top: 30px;
}
.guessLike h3{
    color: #666;
    text-align: center;
}
.like_item{
    float: left;
}
.like_item .like_lk{
    display: block;
    width: 100px;
    padding:10px 0 0 15px;
}
.like_item .like_lk img{
    width: 100px;
    height: 100px;
}
.like_lk:hover img{
    opacity: .8;
    filter: alpha(opacity=80);
}
.like_item .like_lk p{
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}
.like_lk:hover p{
    color: crimson;
}
/*轮播图*/
.banner-wrap{
    float: left;
    margin-left: 20px;
}
.banner-wrap .banner{
    position: relative;
    width: 970px;
    height: 500px;

}
.banner-wrap .banner ul{
    display: flex;
    width: 970px;

}
.banner-wrap .banner ul li{
    transition:opacity  .4s;
}
.banner-wrap .banner ul li a{
    display: block;
    width: 970px;
    height: 500px;
}
.banner-wrap .banner ul li a img{
    width: 100%;
    height: 100%;
}
.prev {
    left: 30px;
}
.next{
    right: 30px;
}
.swiper_arrow{
    position: absolute;
    top:50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color:rgba(0,0,0,.4) ;
    transform:translateY(-50%);
    cursor: pointer;/*鼠标停留效果*/
}
.indicators{
    position: absolute;
    bottom: 20px;
    left: 50px;
    transform: translateX(850%);
    height: 14px;
    background-color: rgba(255,255,255,.3);
    border-radius: 10px;

}
.indicators .indicator{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 3px;
    background-color: #fff;
    border-radius: 50%;
    cursor:pointer;
}
.indicators .on{
    background-color:#ff5000;
}
/*秒杀专区*/
.miaosha{
    margin-top: 30px;
    padding-top: 30px;;
}
.miaosha  .miaosha-time{
    position: relative;
    float: left;
    width: 200px;
    height: 275px;
    background-color: #e63e3e;
    color: #faf8ff;
}
.miaosha-time .ms_title{
    text-align: center;/*居中*/
    font-size: 40px;
    margin-top:40px ;
}
.miaosha-time .icon-daojishi{
    position: absolute;
    top: 100px;
    font-size: 40px;
    left: 50%;
    transform:translate(-50%);
}
.miaosha-time .ms_desc{
    position: absolute;
    left: 0;
    top: 170px;
    button:100px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.countdown{
    position: absolute;
    left: 32.5px;
    bottom: 20px;
}
.countdown .cd_item{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.miaosha_list{
    float: left;
    width: 990px;
    height: 275px;
}
.miaosha_list .ms_item{
    float: left;
    width: 198px;
    height: 270px;
    background-color: #faf8ff;
}
.ms_item_lk{
    display: block;
    width: 100%;
    height: 100%;
    padding:0 5px;
}
.ms_item_lk .ms_item_img{
    display: block;
    width: 140px;
    height: 140px;
    margin: auto;
}
.ms_item_lk:hover .ms_item_img{
    transform: scale(1.1);
    transition: transform  .5s ease;
}
.ms_item_lk .ms_item_name{
    padding: 10px 0px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ms_item_lk:hover .ms_item_name{
    color: #e63e3e;
}
.ms_item_buy{
    line-height: 20px;
    margin: 10px 0;
    text-align: center;
}
.ms_item_buy .progress{
    display: inline-block;
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.ms_item_buy .progress .progress-bar{
    display: block;
    width: 30%;
    height: 10px;
    background-color: #e63e3e;
    border-radius: 5px 0 0 5px;
}
.ms_item_buy .buy_num{
    display: inline-block;
    color: #e63e3e;
    font-size: 12px;
}
.ms_item_price{
    display: block;
    width: 160px;
    margin: auto;
    border:1px solid #e63e3e;
}
.ms_item_price .cm-price{
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.ms_item_price .new-price{
    font-size: 14px;
    background-color: #e63e3e;
    color: #faf8ff;
    font-weight: bold;
}
.ms_item_price .old-price{
    font-size: 10px;
    color: #999999;
    text-decoration: line-through;
}
/*专题专区*/
.layer{
    padding-bottom: 50px;
}
.layer_inner{
    background-color: #faf8ff;
}
.layer_inner h3{
    font-size: 20px;
    height: 22px;
    line-height: 22px;
    border-bottom: 1px solid #e63e3e;
    padding: 20px;
}
.layer_inner h3::before{
    content: "";
    float: left;
    width: 4px;
    height: 16px;
    margin: 3px 6px 0 0;
}
.hotSate{
    color: #e63e3e;
}
.likeSale{
    color: #ff9f00;
}
.hotSate::before{
    background-color: #e63e3e;
}
.likeSale::before{
    background-color: #ff9f00;
}
.saleList .item{
    position: relative;
    float: left;
    width: 196px;
    padding: 20px;
    border:1px solid #faf8ff;
}
.saleList .bs_item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.2);/*box-shadow:x x x rgba()前三位为调颜色第四位为阴影虚度*/
}
.saleList Like-item:hover{
    border-color: #e63e3e;
    transition: border-color .3s;
}
.saleList .item a{
    display: block;
}
.saleList .item a .item-img{
    width: 196px;
    height: 196px;
}
.saleList .item .title{
    font-size: 14px;
    color: #666;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 8px 0;
}

.saleList .line-2{
    margin-bottom: 10px;
}
.saleList .comment,
.saleList .collect{
    float: left;
    color: #999;
    margin-right: 10px;
}
.saleList .comment em,
.saleList .collect em{
    font-style: normal;
    margin-left: 5px;
}
.saleList .strong{
    color: #e63e3e;
    font-size: 22px;
    margin-right: 2px;
}
.saleList .strong::before{
    content:'\A5';
    font-size: 14px;
    color: #e63e3e;
    margin-right: 3px;

}
.saleList .price-through{
    text-decoration: line-through;
    colror:#999;
}
.saleList .sell{
    float: right;
    color: #999;
    margin-top: 6px;
}
.saleList .item .item-more{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    background-color: #e63e3e;
    color: #faf8ff;
}
.saleList .item:hover .item-more{
    display: block;
}
.loadMore{
    padding:30px 0;
}
.loadMore span{
    display: block;
    width: 200px;
    height: 50px;
    line-height:50px ;
    background-color: #e63e3e;
    margin:auto;
    text-align: center;
    font-size: 16px;
    color: #ffff;
    cursor: pointer;
}
/*底部样式*/
.footer{
    background-color: #ffffff;
}
.footer_container{
    height: 144px;
    padding-top: 15px;
}
.footer_social{
    height: 48px;
    text-align: center;
}
.footer_social a{
    display: inline-block;
    height: 48px;
}
.footer_social a img{
    height: 40px;

    padding:10px 20px;
}
.footer_link{
    text-align: center;
    margin: 10px 0;
}
.footer_link li{
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    cursor: pointer;/*让字体变成链接*/
}
.footer_link li a:hover{
    text-decoration: underline;/*鼠标选中时加横线*/
}
.footer_copyright{
    color: #5e5e5e;
    width: 450px;
    border-top:1px solid #000;
    text-align: center;
    margin:5px auto 0;
    padding-top: 10px;
}
/*悬浮菜单*/
.tool{
    position: fixed;
    top: 80px;
    right: 10px;
    width: 50px;
    text-align: center;
    z-index: 10;
}
.tool a{
    position: relative;
    display: block;
    font-size: 13px;
    height: 55px;
    line-height: 17px;
    background-color: #ffffff;
    padding: 8px 8px 0;
    cursor: pointer;
}
.tool a::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 8px;
    width: 34px;
    border-bottom: 1px solid #efefef;
    z-index: 5;
}
.tool a.on,
.tool a:hover{
    background-color: #e63e3e;
    color:#ffffff;
    z-index: 6;
}
.tool-item1{
    color: #e63e3e;
}
.tool-item2{
    color: #ff9f00;
}
.tool-item3{
    color: cornflowerblue;
}
a.tool-item5{
    line-height: 48px;
}
.top-arrow{
    display: block;
    width: 6px;
    height: 6px;
    border-top: 1.5px solid #999;
    border-left:1.5px solid #999;;
    transform:rotate(45deg);
    margin: 5px auto;
}
.tool a:hover .top-arrow{
    border-color: #ffffff;
}
#goTop{
    display: none;
}